In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [10]:
# # Design a query to retrieve the last 12 months of precipitation data prior to your 
# #trips start date and plot the results
twelvemonths = session.query(Measurement.date).filter(Measurement.date > '2017-01-01').order_by(Measurement.date).all()

# Perform a query to retrieve the date and prcp values
date_prcp = session.query(Measurement.date, Measurement.prcp).\
filter(Measurement.date > '2017-04-01', Measurement.prcp).\
order_by(Measurement.date).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
date_prcp_df = pd.DataFrame(date_prcp)
date_prcp_df.head()
date_prcp_df.set_index('date')

# # Sort the dataframe by date
date_prcp_df.sort_values(by=['date'])

# # Use Pandas Plotting with Matplotlib to plot the data
# x_axis = np.arange(len('date'))
# tick_locations = [value for value in x_axis]
# plt.scatter(x_axis, date_prcp_df['prcp'], color='r', alpha=0.5, align="center")
# plt.xticks(tick_locations, date_prcp_df["prcp"], rotation="vertical")
# Rotate the xticks for the dates

           date  prcp
0    2017-04-03  0.08
1    2017-04-03  0.09
2    2017-04-03  0.26
3    2017-04-03  0.23
4    2017-04-04  0.04
5    2017-04-04  0.09
6    2017-04-04  0.02
7    2017-04-05  0.04
8    2017-04-05  0.07
9    2017-04-05  0.10
10   2017-04-05  0.45
11   2017-04-06  0.06
13   2017-04-10  0.01
12   2017-04-10  0.01
14   2017-04-11  0.03
15   2017-04-11  0.16
16   2017-04-11  0.03
17   2017-04-11  0.25
18   2017-04-12  0.03
19   2017-04-12  0.29
20   2017-04-12  0.11
21   2017-04-12  0.65
22   2017-04-13  0.27
23   2017-04-13  0.59
24   2017-04-13  0.23
30   2017-04-14  2.82
28   2017-04-14  0.36
29   2017-04-14  2.30
26   2017-04-14  0.69
25   2017-04-14  0.26
..          ...   ...
417  2017-08-04  0.02
418  2017-08-04  0.04
419  2017-08-05  0.06
420  2017-08-07  0.05
421  2017-08-08  0.10
422  2017-08-08  0.34
423  2017-08-09  0.15
424  2017-08-10  0.07
425  2017-08-12  0.14
426  2017-08-14  0.01
427  2017-08-14  0.08
428  2017-08-14  0.22
432  2017-08-15  0.42
431  2017-08-15  0.32
430  2017-08-15  0.06
429  2017-08-15  0.02
433  2017-08-16  0.07
434  2017-08-16  0.12
435  2017-08-16  0.42
436  2017-08-17  0.05
437  2017-08-17  0.01
438  2017-08-17  0.13
439  2017-08-18  0.06
440  2017-08-19  0.09
441  2017-08-20  0.01
443  2017-08-21  0.56
442  2017-08-21  0.02
444  2017-08-22  0.50
445  2017-08-23  0.08
446  2017-08-23  0.45

[447 rows x 2 columns]

In [11]:
# Use Pandas to calculate the summary statistics for the precipitation data
date_prcp_df.describe()

             prcp
count  447.000000
mean     0.289016
std      0.531179
min      0.010000
25%      0.040000
50%      0.100000
75%      0.300000
max      6.250000

In [21]:
# How many stations are available in this dataset?
session.query(func.count(Station.station)).all()

[(9)]

In [23]:
# What are the most active stations?
# List the stations and the counts in descending order.
station_data = session.query(Station.station, Station.name, func.count(Station.station)).all()
station_data

[('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 9)]

In [24]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
session.query(Measurement.prcp).order_by(Measurement.prcp).first()

(None)

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data previous to your 
# trips start date for this station and plot the results as a histogram

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [25]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

[(62.0, 69.15384615384616, 77.0)]

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`